## 수컷 펭귄 분석하기

데이터를 활용하여 수컷 펭귄 중 부리의 길이가 입력값보다 큰 펭귄들의 부리의 깊이의 평균을 알아보려 합니다.

데이터 설명
- species	: 펭귄의 ‘종’
- island	섬 이름
- bill_length_mm	부리의 길이 ( 단위 : mm)
- bill_depth_mm	부리의 깊이 ( 단위 : mm)
- flipper_length_mm	날개의 길이 ( 단위 : mm)
- body_mass_g	체질량 ( 단위 : g)
- sex	성별( MALE, FEMALE)

1. 데이터가 없는 행은 제외하고 데이터를 추출합니다.
2. 데이터프레임 형태의 펭귄 데이터와 정수인 n(단위 : mm)을 매개변수로 받습니다.
3. ‘sex’ 가 ‘MALE’이고, 부리의 길이가 n보다 큰 펭귄의 수를 구해 answer의 원소로 추가합니다.
4. 해당 펭귄들의 부리의 깊이 평균을 구하여 answer 리스트의 원소로 추가하여 출력하세요.
    - 평균은 pandas에서 제공하는 mean()을 사용합니다.
    - 함수 반환값은 리스트형태 입니다.

In [25]:
# 아래 코드는 문제 해결을 위해 기본적으로 제공되는 코드입니다. 수정하지 마세요!
import pandas as pd

df = pd.read_csv("penguins.csv")

# 지시사항을 참고하여 코드를 작성하세요.
def total(df, s):
    # df = penguins.csv
    # s = 30
    answer = []

    # 데이터가 없는 행은 제외하는 코드입니다 
    df1 = df.dropna()
    # 내일 배울 코드입니다.
    
    # 'sex' 가 'MALE'이고, 'bill_length_mm'가 s보다 큰 펭귄을 구하는 코드를 작성하세요
    df1 = df1[(df1['sex']=='MALE') & (df1['bill_length_mm']>s)]
    answer.append(len(df1))
    answer.append( df1['bill_depth_mm'].mean() )
    
    return answer


# 값을 확인하기 위한 코드입니다. 값을 변경해가며 테스트해 보세요!
print(total(df, 30))

[168, 17.89107142857143]

내가 진행한 코드

In [ ]:
# 아래 코드는 문제 해결을 위해 기본적으로 제공되는 코드입니다. 수정하지 마세요!
import pandas as pd

df = pd.read_csv("penguins.csv")

# 지시사항을 참고하여 코드를 작성하세요.
def total(df, s):
    # df = penguins.csv
    # s = 30
    

    answer = []

    # 데이터가 없는 행은 제외하는 코드입니다 
    df1 = df.dropna()
    # 내일 배울 코드입니다.
    
    # 'sex' 가 'MALE'이고, 'bill_length_mm'가 s보다 큰 펭귄을 구하는 코드를 작성하세요
    df.read(['sex'] == ['MALE'] and ['bill_length_mm'] > [s])
    return answer


# 값을 확인하기 위한 코드입니다. 값을 변경해가며 테스트해 보세요!
print(total(df, 30))

In [3]:
import pandas as pd

df = pd.read_csv("penguins.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [4]:
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

In [29]:
# 지시사항을 참고하여 코드를 작성하세요.
def total(df, s):
    # df = penguins.csv
    # s = 30

    answer = []

    # 데이터가 없는 행은 제외하는 코드입니다 
    df1 = df.dropna()
    # 내일 배울 코드입니다.
    
    # 'sex' 가 'MALE'이고, 'bill_length_mm'가 s보다 큰 펭귄을 구하는 코드를 작성하세요
    a = ((df['sex'] == 'MALE') & (df['bill_length_mm'] > s))
    
    
    print(a)

    answer.append(len(a))
    answer.append(a.mean())

    return answer


# 값을 확인하기 위한 코드입니다. 값을 변경해가며 테스트해 보세요!
print(total(df, 30))

0       True
1      False
2      False
3      False
4      False
       ...
339    False
340    False
341     True
342    False
343     True
Length: 344, dtype: bool
[344, 0.4883720930232558]

## 허리둘레 변환하기
옷을 살 때와 같이 허리둘레를 cm 단위가 아닌 inch 단위로 알고 있어야 하는 일들이 자주 있습니다.

데이터를 활용하여 건강보험 가입자의 허리둘레를 inch로 알아보고자 합니다.

1. 주어진 info에서 데이터가 누락된 행은 삭제합니다.
2. 허리둘레(inch) column을 생성하고 모든 행의 허리둘레(inch)를 저장합니다.
    - 칼럼은 아래의 식을 이용해 변환한 값의 소수 첫째 자리를 버림하여 정수로 저장합니다.
    - 허리둘레(inch) = 허리둘레 /2.54

In [ ]:
import numpy as np
import pandas as pd

info = pd.read_csv("waist.csv")

# 지시사항 1번을 참고하여 코드를 작성하세요.


# (수정 금지) 데이터프레임에 '허리둘레(inch)'라는 새로운 열을 추가하고, 이 열의 모든 값들을 'NaN' (Not a Number, 즉 결측값)으로 설정하는 코드입니다

# 지시사항을 참고하여 허리둘레를 inch 단위로 변환하는 식을 적용하는 코드를 작성하세요


# 위 두 줄을 아래 한줄로 바꿀 수도 있음
#info["허리둘레(inch)"] = info["허리둘레"] / 2.54

업다운 게임
==================================================
생각한 숫자를 입력하세요: (1 ~ 99)50
Down! (남은 기회: 9)
생각한 숫자를 입력하세요: (1 ~ 50)25
Down! (남은 기회: 8)
생각한 숫자를 입력하세요: (1 ~ 25)15
Up! (남은 기회: 7)
생각한 숫자를 입력하세요: (15 ~ 25)200
Down! (남은 기회: 6)
생각한 숫자를 입력하세요: (15 ~ 25)20
Up! (남은 기회: 5)
생각한 숫자를 입력하세요: (20 ~ 25)22
Up! (남은 기회: 4)
생각한 숫자를 입력하세요: (22 ~ 25)1
Up! (남은 기회: 3)
생각한 숫자를 입력하세요: (22 ~ 25)1
Up! (남은 기회: 2)
생각한 숫자를 입력하세요: (22 ~ 25)1
Up! (남은 기회: 1)
생각한 숫자를 입력하세요: (22 ~ 25)1
Up! (남은 기회: 0)