# 테스트 문항입니다.
 - 순수하게 자신의 두뇌로 문제를 풀어주시기 바랍니다.
 - 절대 ChatGpt 등, 생성형 AI를 사용하지 마세요.

0. 자신의 이름을 문자열 형식으로 입력해주세요.

In [10]:
name = str('김낙현')
print(name)

김낙현

1. 다음 중 데이터를 읽고 쓸 수 있는 역량, 데이터를 활용할 수 있는 능력은 무엇인가요?

In [4]:
# 문자열 형식으로 입력해주세요.
a = str('머신러닝')
print(a)

머신러닝

2. 다음 중 전체 지표 방향성이 그룹별 지표 방향성과 항상 일치하지는 않는다는 개념은 무엇인가요?

    1. 생존자 편향의 오류
    2. 심슨의 역설
    3. 체리피킹
    4. 논리적 비약

In [5]:
# 정수 형식으로 번호만 입력해주세요.
b = int(1)
print(b)

1

3. 다음 중 두 변수간의 상관관계를 보여주기 가장 좋은 차트는 무엇인가요?

    1. 바차트(Bar Chart)
    2. 도넛차트(Dounut Chart)
    3. 라인차트(Line Chart)
    4. 산점도(Scatter Plot)

In [7]:
# 정수 형식으로 번호만 입력해주세요.
c = int(4)
print(c)

4

4. 다음 내용은 데이터베이스의 어떤 특징을 의미하나요?
- 데이터의 삽입, 삭제, 갱신이 자유롭게 가능해야한다.
- 단, 데이터베이스의 다른 특징은 항상 유지해야 한다.

In [46]:
# 문자열 형식으로 입력해주세요.
d = str('데이터 변환')
print(d)

데이터 변환

5. 다음 중 데이터 분석 방법이 다른 하나는 무엇인가요?

    1. K-Means
    2. KNN(K-Nearest Neighbor)
    3. RandomForest
    4. DecesionTree

In [8]:
# 정수 형식으로 번호만 입력해주세요.
e = int(1)
print(e)

1

6. 귀무가설을 기각하기 위한 유의확률(P-value)의 크기, 즉 유의수준의 값은 일반적으로 몇의 값을 사용하나요?

In [45]:
# 문자열 형식으로 입력해주세요.
f = str('20%')
print(f)

20%

7. 다음 중 최적의 하이퍼 파라미터를 선택하기 위해 사용하는 방법은 무엇인가요?
    1. K-Fold
    2. DBSCAN
    3. Grid Search
    4. 상관관계분석

In [33]:
# 정수 형식으로 번호만 입력해주세요.
g = int(2)
print(g)

2

8. x와 y의 값을 바꾸는 코드를 작성하시오.

    - x=10, y=20 => x=20, y=10
    - x와 y에 정수를 직접 입력 불가. 반드시 변수를 통해 값을 교환해야함

In [40]:
x, y = 10, 20

x, y = y, x # <- ???????????????????????????

# 바뀐 값 출력(20, 10)
print(x, y)

20 10

9. fish2.csv 파일을 사용하여, 도미와 잉어를 분류하는 머신러닝을 구현하시오(이진분류).

    - 80% 데이터를 학습용, 20% 데이터를 테스트용 데이터로 사용.

In [56]:
import pandas as pd

df = pd.read_csv('fish2.csv', encoding='cp949')

In [55]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import Sequential, Dense

df = pd.read_csv('fish2.csv', encoding='cp949')

data = df['무게']
target = df['종류']

train_data, test_data, train_target, test_target = train_test_split(
    data, target, test_size=0.2, random_states=40)

model = Sequential([
    Dense(128, activation='relu', input_shape=(3, )),
    Dense(64, activation='relu'),
    Dense(32, activation='relu'),
    Dense(16, activation='relu'),
    Dense(1, activation='sigmoid')
])

model.compile(optimizer=optimizer, vaildation_data='cross_entropy', metrics=['accuracy'])
model.fit()

predict = train_data, test_data


machine_learning1 = model.predict([[400]])
machine_learning2 = model.predict([[200]])

ImportError: cannot import name 'Sequential' from 'sklearn.metrics' (c:\Users\qq\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\metrics\__init__.py)

10. fish.csv 파일을 사용하여, 어떤 종류의 생선인지 분류하는 딥러닝을 구현하시오(다중분류).

    - 75% 데이터를 학습용, 25% 데이터를 테스트용 데이터로 사용.
    - 무게, 길이, 높이 넓이 정보를 가지고, 생선의 종류 예측
    - classification_report 출력

In [30]:
import pandas as pd

df1 = pd.read_csv('fish.csv')
df1

    Species  Weight  Length  Diagonal   Height   Width
0     Bream   242.0    25.4      30.0  11.5200  4.0200
1     Bream   290.0    26.3      31.2  12.4800  4.3056
2     Bream   340.0    26.5      31.1  12.3778  4.6961
3     Bream   363.0    29.0      33.5  12.7300  4.4555
4     Bream   430.0    29.0      34.0  12.4440  5.1340
..      ...     ...     ...       ...      ...     ...
154   Smelt    12.2    12.2      13.4   2.0904  1.3936
155   Smelt    13.4    12.4      13.5   2.4300  1.2690
156   Smelt    12.2    13.0      13.8   2.2770  1.2558
157   Smelt    19.7    14.3      15.2   2.8728  2.0672
158   Smelt    19.9    15.0      16.2   2.9322  1.8792

[159 rows x 6 columns]

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

data = df1[['Weight', 'Length', 'Height', 'Width']]
target = df1['Species']

train_data, train_target, test_data, test_target = train_test_split(
    data, target, test_size=0.25, random_state=40)

cm = 

# classification_report의 macro_avg값을 변수에 입력해주세요.
macro_avg = None

#### 채점용 코드입니다. 수정X

In [ ]:
# 수정하지 말아주세요
import pandas as pd

df_answer = pd.read_csv('answer.csv')

my_answer = [a, b, c, d, e, f, g, (x,y), machine_learning1, machine_learning2, macro_avg]

df_answer['input'] = pd.Series(my_answer)

df_answer.to_csv(str(name)+'.csv')